/* See https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header{
    padding: 2rem;
    font-size: 150px;
    center: middle;
}

img.The_Pigeon_Detectives{

}


img.ImgDec{
  max-width: 100%;
  max-height: 100%;
}

img.The_Detectives{
  width: 800px;
  height: 270px;
  max-width: 800px;
  max-height: 270px;
  border: 5px black;
  display: block;
  margin-left: auto;
  margin-right: auto;}

  img.Detectives{
    display: block;
    width:500px;
    max-width: 500px;
    height:600px;
    max-height: 600px;
}

main{
    width: 70%;
    float: left;
    font-size:2vw;
    background-color: #777788;

}

body{
    background-color: #777788;
}

aside{
    width: 30%;
    float: right;
    padding: 2rem;
    font-size:2vw;
    text-align: right;
    background-color: #777788;
}


footer{
    clear: both;
    padding: 2rem;
    text-align: center;
    background-color: #777788;
    font-size:2vw;
    font-weight: bold;
}
